
.button {
  width: 355px;
  height: 59px;
  background-color: rgba(89, 112, 255, 1);
  border: 1px solid rgba(89, 112, 255, 1);
  border-radius: 5px;
  color: rgba(255, 255, 255, 1);
  font-family: Inter, sans-serif;
  font-size: 22px;
  font-weight: 500;
  cursor: pointer;
}

@media (max-width: 1480px) {
  .button {
    width: 335px;
  }
}

@media (max-width: 425px) {
  .button {
    margin: 0 auto;
    width: 335px;
  }
}
