.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 415px;
  height: 540px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  font-family: Inter;
  color: rgba(0, 0, 0, 1);
}
.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 415px;
  height: 132px;
}

.card-header.beginner {
  background-color: rgba(255, 182, 79, 1);
  border-radius: 10px;
}
.card-header.pro {
  background-color: rgba(124, 227, 225, 1);
  border-radius: 10px;
}
.card-header.business {
  background-color: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
  border-radius: 10px;
}

.card-title {
  font-size: 30px;
  padding: 10px 0px 0px 10px;
}
.title-text {
  font-size: 18px;

  padding: 10px 0px 0px 10px;
}
.card-user {
  background-color: rgba(59, 165, 224, 1);
  color: rgba(255, 255, 255, 1);
  border: 2px solid rgba(59, 165, 224, 1);
  border-radius: 10px;
  font-size: 14px;
  margin-top: 5px;
  margin-left: auto;
  text-align: center;

  width: 134px;
  height: 24px;
}
.card-content {
  padding-left: 20px;
}

.card-price-wrapper {
  display: flex;
  align-items: center; /*  Выравниваем элементы по центру */
  gap: 10px; /*  Добавляем немного отступа */
}

.card-special_price {
  font-size: 30px;
}

.card-price {
  font-size: 25px;
  text-decoration: line-through;
  color: rgb(60, 60, 60);
}

.price-text {
  font-size: 18px;
  margin-top: 32px;
  margin-bottom: 30px;
}

.card-list {
  list-style-type: none; /* Убирает маркеры */
  padding-left: 0; /* Убирает стандартный отступ списка */
}

.card-list li::before {
  content: "✔"; /* Unicode-символ зелёной галочки */
  color: green; /* Делаем галочку зелёной */
  font-size: 18px;
  margin-right: 8px; /* Добавляем отступ между галочкой и текстом */
}

.card-description {
  font-size: 20px;
}

.card-image {
  width: 100px;
  height: 90px;
  object-fit: cover;
  position: relative;
  margin-left: auto;
  padding-right: 10px;
  z-index: 1; /* Повышает приоритет изображения */
}

.card-footer {
  margin-top: 50px;
}

@media (max-width: 800px) {
  .card {
    width: 335px;
    height: 510px;
    margin-bottom: 20px;
  }
  .card-header {
    width: 335px;
    height: 132px;
  }
  .card-description {
    font-size: 16px;
  }

  .price-text {
    margin-top: 0;
    margin-bottom: 0;
  }
}
